<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="container">
      <div class="page-title">
        <h1 class="page-title">
          <%= link_to "Książki i Kursy", "/", style: "text-decoration: none; color: #2c2c2c;" %>
          -
          Książki
        </h1>
      </div>

      <br>

      <div class="row">
        <div class="col-md-2 col-sm-3">
          <p class="title">
            Kategorie
          </p>
          <div class="list-group">
            <% book_categories.each do |category| %>
              <%= link_to category, "/categories/#{slug(category)}.html", class: "list-group-item list-group-item-action" %>
            <% end %>
          </div>

          <br>

          <p class="title">
            Format
          </p>
          <div class="list-group">
            <% book_formats.each do |format| %>
              <%= link_to format, "/formats/#{slug(format)}.html", class: "list-group-item list-group-item-action" %>
            <% end %>
          </div>

          <br>

          <p class="title">
            Autorzy
          </p>
          <div class="list-group">
            <% book_authors.each do |author| %>
              <%= link_to author, "/authors/#{slug(author)}.html", class: "list-group-item list-group-item-action" %>
            <% end %>
          </div>
        </div>

        <div class="col-md-10 col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <%#= javascript_include_tag "site" %>
  </body>
</html>

